.investors-div {
    background-color: #f6f6f7 !important;
    margin-top: 60px !important;
}

.investors-heading {
    padding-top: 40px;
    float: left;
    margin-left: 40px;
}

.investor-heading-span {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.investor-subHeading-span {
    font-size: 16px;
    color: #000;
}

.investor-grid {
    margin-left: 40px;
    padding-top: 8em;
    padding-bottom: 2em;
}

.investor-avatar {
    margin-left: 20px !important;
    padding-top: 20px !important;
}

.investor-description-span {
    float: left !important;
    width: 18em;
    letter-spacing: -1;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5em;
}

.investor-avatar-img {
    width: 20% !important;
    height: 20% !important;
}

.invertor-pragraph {
    margin-top: 2em;
}

.invertor-pragraph-second {
    margin-top: -1em;
}

.investor-rating {
    margin-left: 35px;
}