.box {
    margin-bottom: 5em !important;
}
.css-1ujnqem-MuiTabs-root
{
margin-bottom: 70px;
}
.our-product-button{
    color: #44475b;
    /* float: left; */
    margin-left: -168px !important;

}

.our-product-h4{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #44475b;
    margin-top: 20px !important;
    
    margin-left: 102px !important;
}

.top-2-heading{
    float: left;
    margin-left: -58px;
    margin-top: 41px !important;
}

.item1{
    margin-left: 30px !important;
}
.item2{
    margin-left: 170px !important;
}
.item3{
    margin-left: 170px !important;
}
.item4{
    margin-left: 170px !important;
}

