.login-form-modal{
    margin-left: 8em !important;
    margin-right: 8em !important;
    margin-top: 10em !important;
    margin-bottom: 10em !important;
    border: white !important;
}

.loginform-imagediv{
    background-color: #3DB87A !important;
    height: 100% !important;
    color: white !important;
    font-size: 30px;
    margin-left: 30px;
    padding-left: 20px;
    padding-top:20px;
}

.loginform-imagediv-downside{
    margin-top: 35%;
}

.loginform {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #ffff00;
    padding: 10px;
}

.continueWithGoogle {
    margin-top: 5px !important;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: .1px;
    color: #44475b;  
    margin-left: 70px; 
    letter-spacing: 4px;
    word-spacing: 2px; 
}

.googlebutton {
    border-radius: 6px;
    height: 40px;
    background: #fff;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
    max-width: 340px;
    color: #44475b;
    margin-top: 10px !important;
    transition: all .3s ease;
    cursor: pointer;
    position: relative;
    margin-left: 100px !important;
    padding-left: 90px !important;
    padding-right: 50px !important;
}

.loginForm-or-line{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    margin-top: 30px !important;
}

.loginForm-email-field{
    margin-left: 80px !important;
    width: 70%;
}


.login-form-continue-button {
    display: flex !important;
    background-color: #3DB87A !important;
    margin-left: 80px !important;
    margin-top: 20px !important;
    color: white !important;
    font-size: 15px !important;
    width: 70%;
    
}

.login-form{
    margin-left: 60px;
}

.login-form-privacypolicy-text{
    margin-left: 100px !important;
    font-size: small !important;
}

.bold-policy-login{
    font-weight: bold !important;
}